@charset "utf-8"; 
@font-face {
	font-family:'Noto Sans KR'; 
	font-style:normal; 
	font-weight:300; 
	src:
/* 	url(../fonts/NotoSansKR-Light.woff2) format('woff2'), */
	   url(../fonts/NotoSansKR-Light.woff) format('woff'),
	   url(../fonts/NotoSansKR-Light.otf) format('opentype'); 
}
@font-face {
	font-family:'Noto Sans KR'; 
	font-style:normal; 
	font-weight:400; 
	src:
/* 	url(../fonts/NotoSansKR-Regular.woff2) format('woff2'), */
		url(../fonts/NotoSansKR-Regular.woff) format('woff'),
		url(../fonts/NotoSansKR-Regular.otf) format('opentype'); 
}
@font-face {
	font-family:'Noto Sans KR'; 
	font-style:normal; 
	font-weight:500; 
	src:
/* 	url(../fonts/NotoSansKR-Medium.woff2) format('woff2'), */
		url(../fonts/NotoSansKR-Medium.woff) format('woff'),
		url(../fonts/NotoSansKR-Medium.otf) format('opentype'); 
}
@font-face {
	font-family:'Noto Sans KR'; 
	font-style:normal; 
	font-weight:700; 
	src:
/* 	url(../fonts/NotoSansKR-Bold.woff2) format('woff2'), */
		url(../fonts/NotoSansKR-Bold.woff) format('woff'),
		url(../fonts/NotoSansKR-Bold.otf) format('opentype'); 
}
* {margin:0; padding:0; box-sizing:border-box}
body,html {overflow:hidden; overflow-y:auto; font-family:'Noto Sans KR', Dotum, Arial, sans-serif; font-size:14px; color:#666}
table {border:0; border-collapse:collapse; border-spacing:0; width:100%}
li {list-style:none}
a {text-decoration:none; outline:none}
legend, hr, caption {display:none}

.select + span,
input[type=text],input[type=password] {padding:0 20px; outline:none; border-radius:0 !important; border:1px solid #d5d5d5; width:100%; height:60px; font-size:18px; color:#333; -webkit-appearance:none}
input[type=text]:focus, input[type=password]:focus {border-color:#333 !important}
input[type=number] {-webkit-appearance:none}
.select + span {line-height:57px; background:url("/static/landing/img/bl-arrow.png") no-repeat right 20px center}
.select + .ui-selectmenu-button-open {border-color:#333}

::-webkit-input-placeholder {color:#ccc}
::-moz-placeholder {color:#ccc}
:-ms-input-placeholder {color:#ccc}
:-moz-placeholder {color:#ccc}