.select + span,
input[type=text],input[type=password] {padding:0 20px; outline:none; border-radius:0 !important; border:1px solid #d5d5d5; width:100%; height:60px; font-size:18px; color:#333; -webkit-appearance:none}
input[type=text]:focus, input[type=password]:focus {border-color:#333 !important}
input[type=number] {-webkit-appearance:none}
.select + span {line-height:57px; background:url("/static/landing/img/bl-arrow.png") no-repeat right 20px center}
.select + .ui-selectmenu-button-open {border-color:#333}