@charset "UTF-8";

/* ---------- pc reset ---------- */

html, body {width: 100%; height: 100%; font-size: 16px; overflow-x: hidden;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button {margin:0;padding:0;box-sizing: border-box; word-break: keep-all;}
fieldset,img {border:0 none;}
img {max-width: 100%; vertical-align: top;}
dl,ul,ol,menu,li {list-style:none}
blockquote, q {quotes: none}
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none}
input,select,textarea,button {vertical-align:middle; border-radius: 0; border: 1px solid #ddd;}
button {border:0 none;background-color:transparent;cursor:pointer}
body {background:#fff}
body,th,td,input,select,textarea,button {font-size:16px;line-height:1.5;font-family: 'Noto Sans KR', sans-serif;color:#000;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
a {display: inline-block; color:#181818;text-decoration:none;box-sizing: border-box;}
a:active, a:hover {text-decoration:none}
address,caption,cite,code,dfn,em,var {font-style:normal;font-weight:normal}
figure {margin:0;padding:0;box-sizing:border-box;}
.clearfix {display:block;overflow:visible;width:auto;clear:both;*zoom:1}
.clearfix:after {display:block;visibility:hidden;height:0;font-size:0;clear:both;content:''}

/* ---------- //pc reset ---------- */

/* ---------- mobile reset ---------- */

@media screen and (max-width: 767px){
    body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button {margin:0;padding:0;box-sizing:border-box;}
    fieldset,img {border:0 none}
    dl,ul,ol,menu,li {list-style:none}
    blockquote, q {quotes:none}
    blockquote:before, blockquote:after,q:before, q:after {content:'';content:none}
    input,select,textarea,button {font-size:100%;vertical-align:middle}
    button {border:0 none;background-color:transparent;cursor:pointer}
    table {border-collapse:collapse;border-spacing:0}
    body {-webkit-text-size-adjust:none}
    input[type='text'],input[type='password'],input[type='submit'],input[type='search'] {-webkit-appearance:none; border-radius:0}
    input:checked[type='checkbox'] {background-color:#666; -webkit-appearance:checkbox}
    button,input[type='button'],input[type='submit'],input[type='reset'],input[type='file'] {-webkit-appearance:button; border-radius:0}
    input[type='search']::-webkit-search-cancel-button {-webkit-appearance:none}
    body {background:#fff}
    body,th,td,input,select,textarea,button {font-size:16px;line-height:1.5;font-family: 'Noto Sans KR', sans-serif;color:#000}
    a {display: inline-block; color:#181818;text-decoration:none;box-sizing:border-box;}
    a:active, a:hover {text-decoration:none}
    address,caption,cite,code,dfn,em,var {font-style:normal;font-weight:normal}
    html,body {font-size: 16px;}
}

/* ---------- //mobile reset ---------- */

/*  */
.container {position: relative; text-align: center;}
.container .back-btn {position: absolute; left: 0; top: 0; width: 100%; height: 13vh; background: rgba(255, 0, 0, 0); z-index: 999;}
.container .back-btn a {display: block; width: 100%; height: 100%;}
.default-top {padding: 0 20px 0 24px; height: 36px; line-height: 36px; max-width: 750px; width: 100%; margin: 24px auto 20px; box-sizing: border-box;}
.default-top {display: flex; justify-content: space-between; align-items: center;}
.default-top h3 {font-family: 'Play', sans-serif; line-height: 1; font-size: 1.75rem; font-weight: bold; color: #2E2E2E;}
.default-top > a {width: 100%; display: flex; justify-content: space-between; align-items: center;}
.default-top > a div {display: flex; align-items: center; font-size: 1.5rem; font-weight: bold; letter-spacing: -0.03em; color: #2E2E2E;}
.default-top > a div span {display: flex; margin-left: 8px; transform-origin: 50% 50%; transition: all 0.3s;}
.default-top > a div span img {width: 30px;}
.default-top figure img {width: 16px;}
.text {display: none; padding: 13px 0 30px;}
.text > div {padding: 0 20px 0 24px; display: flex; flex-direction: column;}
.text > div p {align-self: flex-start;}
.text > div > div {display: flex; align-items: baseline; align-self: flex-end; font-family: 'Play', sans-serif; font-size: 2rem; font-weight: bold; color: #2E2E2E;}
.text > div > div span {margin-left: 2px; font-family: 'Noto Sans KR', sans-serif; font-size: 1.25rem; font-weight: bold; color: #2E2E2E;}
.text p {font-size: 1rem; font-weight: 500; letter-spacing: -0.05em;}