@charset'utf-8';

/* font */
@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: normal;
   src: url(../../../common/css/font/notokr-regular.eot?#iefix) format('embedded-opentype'),
        url(../../../common/css/font/notokr-regular.woff) format('woff'),
        url(../../../common/css/font/notokr-regular.ttf) format('truetype');
 }

@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: bold;
   src: url(../../../common/css/font/notokr-medium.eot?#iefix) format('embedded-opentype'),
        url(../../../common/css/font/notokr-medium.woff) format('woff'),
        url(../../../common/css/font/notokr-medium.ttf) format('truetype');
 }

@font-face {
	font-family:'Noto Sans KR';
	font-style:normal;
	font-weight:900;
	src:
		url(../../../landing/fonts/NotoSansKR-Bold.woff) format('woff'),
		url(../../../landing/fonts/NotoSansKR-Bold.otf) format('opentype');
}

@font-face {
   font-family: 'SemiBold';
   font-style: normal;
   font-weight: normal;
   src: url(../../../common/css/font/Montserrat-SemiBold.eot?#iefix) format('embedded-opentype'),
        url(../../../common/css/font/Montserrat-SemiBold.woff) format('woff'),
		url(../../../common/css/font/Montserrat-SemiBold.woff2) format('woff'),
        url(../../../common/css/font/Montserrat-SemiBold.ttf) format('truetype');
 }

 /* 스리랑카 */
@font-face {
  font-family: "AbhayaLibre";
  src: url("../../../common/css/font/AbhayaLibre-Regular.eot"); /* IE9 Compat Modes */
  src: url("../../../common/css/font/AbhayaLibre-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../../../common/css/font/AbhayaLibre-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../../../common/css/font/AbhayaLibre-Regular.woff") format("woff"), /* Modern Browsers */
    url("../../../common/css/font/AbhayaLibre-Regular.woff2") format("woff"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

/* 캄보디아 */
@font-face {
  font-family: "Battambang";
  src: url("../../../common/css/font/Battambang-Regular.eot"); /* IE9 Compat Modes */
  src: url("../../../common/css/font/Battambang-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../../../common/css/font/Battambang-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../../../common/css/font/Battambang-Regular.woff") format("woff"), /* Modern Browsers */
    url("../../../common/css/font/Battambang-Regular.woff2") format("woff"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

/* 네팔, 방글라데시 등 크메르*/
@font-face {
  font-family: "Karma";
  src: url("../../../common/css/font/Karma-Regular.eot"); /* IE9 Compat Modes */
  src: url("../../../common/css/font/Karma-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../../../common/css/font/Karma-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../../../common/css/font/Karma-Regular.woff") format("woff"), /* Modern Browsers */
    url("../../../common/css/font/Karma-Regular.woff2") format("woff"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

/* 미얀마 */
@font-face {
  font-family: "Padauk";
  src: url(../../../common/css/font/Padauk-Regular.eot); /* IE9 Compat Modes */
  src: url(../../../common/css/font/Padauk-Regular.eot?#iefix) format("embedded-opentype"), /* IE6-IE8 */
		url(../../../common/css/font/Padauk-Regular.ttf) format("truetype"), /* Safari, Android, iOS */
		url(../../../common/css/font/Padauk-Regular.woff) format("woff"), /* Modern Browsers */
		url(../../../common/css/font/Padauk-Regular.woff2) format("woff"); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ZAWGYIONE';
	font-style: normal;
	font-weight: normal;
	src: url(../../../common/css/font/ZAWGYIONE.eot); /* IE9 Compat Modes */
	src: url(../../../common/css/font/ZAWGYIONE.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
		url(../../../common/css/font/ZAWGYIONE.woff) format('woff'), /* Modern Browsers */
		url(../../../common/css/font/ZAWGYIONE.woff2) format('woff'), /* Modern Browsers */
		url(../../../common/css/font/ZAWGYIONE.ttf) format('truetype'); /* Safari, Android, iOS */
 }

/* 베트남,필리핀,우즈베키스탄 등 영문 */
@font-face {
  font-family: "PlayfairDisplay";
  src: url("../../../common/css/font/PlayfairDisplay-Regular.eot"); /* IE9 Compat Modes */
  src: url("../../../common/css/font/PlayfairDisplay-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../../../common/css/font/PlayfairDisplay-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../../../common/css/font/PlayfairDisplay-Regular.woff") format("woff"), /* Modern Browsers */
    url("../../../common/css/font/PlayfairDisplay-Regular.woff2") format("woff"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

/* 공통 */
* { -webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
:after,:before{ -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}
html, body {margin:0; padding:0; width:100%; height:100%; font-family:'Noto Sans KR','SemiBold','나눔 고딕',Dotum, 'droid sans fallback','AppleSDGothicNeo',sans-serif; font-size:14px; color:#333; min-width:320px;} /* 20180710 : color:#666; -> #333으로 변경 */

body {text-align:left; margin:0; padding:0; font-family:'Noto Sans KR','SemiBold','droid sans fallback','AppleSDGothicNeo', sans-serif,"돋움",Dotum; -webkit-text-size-adjust:none; -ms-text-size-adjust:none; word-wrap:break-word; word-break:keep-all;}

body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select{margin:0;padding:0}

ul,li {list-style:none; margin:0; padding:0;}

img{border:none; vertical-align:middle; width:100%;}


/* 링크 */
a:link		{color:#000; text-decoration:none;}
a:visited	{color:#000; text-decoration:none;}
a:active	{color:#000; text-decoration:none;}
a:focus     {color:#000; text-decoration:none;}
a:hover		{color:#008dd6; text-decoration:none;}
a:active,a:hover { outline: 0;}

/* hidden */
.hidden { visibility:hidden; position:absolute; font-size:0; width:0; height:0; line-height:0; margin:0; padding:0; background:none;}

/* caption */
caption{
	position:relative;
	width:0;
	height:0;
	overflow:hidden;
	line-height:0;
	text-indent:-5000px;
}

/* 테이블 */
table, th, td {border:none; border-spacing:0; border-collapse:collapse; word-break:keep-all; word-wrap:break-word;}
td img{	vertical-align:middle;}

/* margin */
.mr10 {margin-right:10px;}



/*header*/
header { position: relative; z-index: 1100;}
header .mobile_menu_btn {position:absolute; top:17px; right:20px; display:block; width:22px; height:17px; background:url('../images/btn_mobile_menu_open.gif') no-repeat; background-size:22px 17px;}
.mobile_menu_on .mobile_menu_btn {display:none;/*width:23px; height:21px; background-size:22px 21px !important; background:url('../images/btn_mobile_menu_close.gif') no-repeat;*/}


textarea:-ms-input-placeholder { color: #666; } /*Internet Explorer 10 이상에 적용*/
textarea::-webkit-input-placeholder { color: #666; } /* Webkit, Blink, Edge에 적용*/
textarea::-moz-placeholder { color: #666; } /* Mozilla Firefox 4 부터 18에 적용*/
textarea::-moz-placeholder { color: #666; } /* Mozilla Firefox 19 이상에 적용*/

input:-ms-input-placeholder { color: #666;} /*Internet Explorer 10 이상에 적용*/
input::-webkit-input-placeholder { color: #666;} /* Webkit, Blink, Edge에 적용*/
input::-moz-placeholder { color: #666;} /* Mozilla Firefox 4 부터 18에 적용*/
input::-moz-placeholder { color: #666;} /* Mozilla Firefox 19 이상에 적용*/



/* Hide HTML5 number type Up and Down arrows. */
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

/*2016-09-30 접근성 관련 수정*/
input[type="radio"]:focus + label{
	outline:1px dotted #333;
}
input[type="checkbox"]:focus + label{
	outline:1px dotted #333;
}

.focus{border-color:#77a9fc;
	-webkit-box-shadow:inset 0 0 3px rgba(0,0,0,.7), 0 0 3px rgba(0,144,255,.9);
	box-shadow:inset 0 0 3px rgba(0,0,0,.7), 0 0 3px rgba(0,144,255,.9);}

button {border-radius:4px;}

/* =====================================================================================================================
	2019년 css 추가
======================================================================================================================== */

/* loading_bar */
#tk_overtopDiv img {width:20% !important;}
