@charset "utf-8";

@import "/static/carverse/css/fonts.css";
@import "/static/carverse/css/reset.css";
@import "/static/carverse/css/layout.css";
@import "/static/carverse/css/vendor/swiper-bundle.min.css";
@import "/static/carverse/css/vendor/nouislider.css";
@import "/static/carverse/css/vendor/jquery.scrollbar.css";
@import "/static/carverse/css/common.css";
@import "/static/carverse/css/main.css";
@import "/static/carverse/css/sub.css";

@import "/static/carverse/css/carverse.css";
@import "/static/carverse/css/agree.css";