@charset "utf-8";
/* for styles */
@import url("../common.css?v=20191213001");
@import url("layout.css?v=20191213001");
@import url("../contents.css?v=20200723001");
@import url("../new_contents.css?v=20200723001");